# 定义该架构需要编译的 .o 文件列表
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/hal.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/process.o \
$(ARCHDIR)/schedule.o \
$(ARCHDIR)/switch.o \
$(ARCHDIR)/syscall.o \
$(ARCHDIR)/signal.o \
